* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 50%;
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 350;
    line-height: 1.5;
    color: whitesmoke;
}
h1, h2 {
    font-family: sans-serif;
    font-weight: 450;
    text-align: center;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 5rem ;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: whitesmoke ;
}
img {
    display: block;
    width: 100%;
    border-radius: 1%;
}
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(36, 11, 11);
    z-index: 3;
    
  }
.nav-list {
    display: flex;
    margin-right: 2rem;
  }
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }

.nav-list {
    margin: 0 1rem;
}
  }
  .nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
  }
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: rgb(76, 51, 51);
    padding-top: 5rem;
    

  }
  .welcome-section > p {
    font-size: 2.75rem;
    font-weight: 200;
    font-style: italic;
    color: rgb(134, 123, 105);
  }
  .projects-section {
    text-align: center;
    padding: 7rem 2rem;
    background-color: rgb(180, 159, 132);
  }
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: .2rem solid whitesmoke;

  }
  @media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
  }
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 25vh;
    padding: 0 2rem;
    background-color: rgb(76, 51, 51);
  }
  footer {
    background-color: rgb(36, 11, 11);
    text-align: center;
  }